/* CSS declarations go here */

/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
	font-family: 'Iowan Old Style';
	font-size: 14px;
	background: #f9f9f9;
	color: #4A4A4A;
}

.container {
	width: 500px;
	margin: 0 auto;
	padding: 20px 60px;
	background: #fff;
}

h1 {
	text-align: center;
	padding: 20px 0;
}

a {
	text-decoration: none;
	font-family: Helvetica;
	color: #1e59ea;
	transition: 0.3s;
}

a:hover {
	color: #123690;
}

fieldset {
	border: 1px solid #eee;
	padding: 30px;
	margin: 0 0 30px 0;
}

legend {
	font-size: 16px;
	font-weight: bold;
	padding: 0 20px;
}

label {
	display: block;
}

input {
	padding: 5px;
	margin: 10px;
	border: 1px solid #eee;
	padding: 10px 15px;
}

button {
	display: block;
	margin: 10px 0 0 0;
	background: #eee;
	color: #4A4A4A;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #eee;
	padding: 10px 15px;
	outline: 0;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background: #fff;
	border: 1px solid #eee;
}

li {
	margin: 20px 0;
	border: 1px solid #eee;
	padding: 20px;
	list-style: none;
}

.info {
	margin: 0 0 15px 0;
	border-bottom: 1px solid #eee;
	padding: 0 0 10px 0;
}

.infos:last-child{
	border-bottom: 0;
}

.label {
	color: #c9c9c9;
	display: block;
	font-family: Helvetica;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 0 5px 0;
}